[user]
	name = Morten Kristensen
	email = msk@nullpointer.dk
[core]
	editor = emacs
[color]
	ui = true
[push]
	default = simple
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	cia = commit -a
	cp = cherry-pick
	df = diff
	ls = ls-files
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	pullr = pull --rebase
	merge = merge --no-ff
	undo-commit = reset --soft HEAD^
[pull]
	rebase = preserve