[user]
	name = Morten Kristensen
	email = me@mortens.dev
[core]
	editor = emacs
[color]
	ui = true
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	cia = commit -a
	cp = cherry-pick
	df = diff
	ls = ls-files
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgf = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --follow
	logf = log --follow
	last = log -1 HEAD
	pullr = pull --rebase
	undo-commit = reset --soft HEAD^
[rebase]
	autoStash = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
